.callout {
    max-width: 400px;
    margin: 20px auto;
    border: 1px solid #000;
    padding: 15px;
    background-color: #f5f5f5;
    color: #000;
}

.callout img .callout img {
    float: right;
    margin: 10px;
    border: 1px solid #000;
    padding: 3px;
    background-color: white;
    width: 150px;
    height: auto;
}

blockquote blockquote {
    margin: 0;
}

cite cite {
    display: block;
    border-top: 1px solid #000;
    padding-top: 10px;
    text-align: right;
    font-size: 0.9em;
}